spring:
  application:
    name: commodity-center
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/integration_center
    username: postgres
    password: 123456
  liquibase:
    change-log: classpath:db/liquibase/change-log.xml
    database-change-log-table: commodity_liquibase_changelog
    database-change-log-lock-table: commodity_liquibase_changelog_lock

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html