<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlConstantCondition, SqlConstantExpression -->
<mapper namespace="org.quasar.ic.commodity.infrastructure.repository.mapper.CommodityMapper">
    <select id="selectAllByOption" resultType="org.quasar.ic.commodity.infrastructure.po.CommodityPo">
        select id,
               name,
               price,
               description,
               image,
               stock,
               delivery_type,
               status,
               create_time,
               update_time
        from t_commodity
        where 1 = 1
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="deliveryTypes != null and deliveryTypes.size() > 0">
                and delivery_type @> array [
                    <foreach collection="deliveryTypes" item="deliveryType" separator=",">
                        #{deliveryType}
                    </foreach>
                ]
            </if>
            <if test="statuses != null and statuses.size() > 0">
                and status in (
                    <foreach collection="statuses" item="status" separator=",">
                        #{status}
                    </foreach>
                )
            </if>
            <if test="startCreateTime != null and startCreateTime != ''">
                and create_time >= #{startCreateTime}
            </if>
            <if test="endCreateTime != null and endCreateTime != ''">
                and create_time &lt;= #{endCreateTime}
            </if>
        order by id
        limit #{pageSize}
        <choose>
            <when test="currentPage > 1">
                offset #{currentPage} * #{pageSize}
            </when>
            <otherwise>
                offset 0
            </otherwise>
        </choose>
    </select>
</mapper>